a {
    text-decoration: none;
  }
body {
    font-family: "Nico Moji"; 
    width:1920px;
}
li {
    list-style: none;
    float: left;
    padding-right: 15px;
}
header {
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    background-color:#df7d4cb0;
    z-index: 10;
}
.header-logo {    
    font-size:18px;
    letter-spacing: 5px;
    margin: 15px;
    border-radius: 4px;
    padding:0 5px;
    background-color: #bae85d96;
    position: relative;
    top: 5px;
}
.header-list a {
    color: rgb(59, 100, 51);
    position: relative;
    top: -30px;
    left: 130px;
}
a:hover {
    opacity: 0.8;
}
ul {
    display: flex;
}
.lessons {
    width: 100%;
    height: 600px;
    padding-top: 20px;
}
* {
    box-sizing: border-box;
}
.lessons img {
    margin: 5px 20px 10px 100px;
    width: 200px;
    height: 200px;
}
.lesson p {
    padding: 5px;
    width: 100%;
    color: rgb(117, 138, 182);
}
h1 {
    color: rgb(89, 137, 64);
    background-color: rgb(219, 202, 183);
    width: 460px;
    text-align: center;
    border-radius: 10px;
}
