* {
    box-sizing: border-box;
}
body {
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
  }
li {
    list-style: none;
    float: left;
    padding-left: 15px;
}
#preview img {
    width: 200px;
    margin: 10px;
    border:  solid 1px silver;
}